{% load static %}
<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
      <link rel="stylesheet" href="{% static 'css/my-styles.css' %}">

      <title>{% block title %}Sellhere{% endblock %}</title>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        {% include 'nav.html' %}
              
      <div class="container">
        {% include 'search.html' %}
        {% block content %}
        {% endblock %}
        
      </div>
      <footer class="page-footer">
        © 2021 Copyright all right reserved sellhere
      </footer>
      <!--JavaScript at end of body for optimized loading-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="{% static 'js/bin/materialize.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
    </body>
  </html>