<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Sellhere</a>
      <a href="#" data-target="side-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Products</a></li>
        <li><a href="badges.html">Profile</a></li>
        <li><a href="collapsible.html">Login</a></li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="side-nav">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>